In [10]:
import pandas as pd
df = pd.read_csv('world cup.csv')
df = df.drop(['Game_id', 'Team', 'Keeper', 'Penalty_Number', 'Elimination'], axis=1) # unnecessary
df = df.drop(df[df.Goal == 0.0].index) # dropping missed penalities
df

     Zone Foot  OnTarget  Goal
0     7.0    R       1.0   1.0
1     9.0    R       1.0   1.0
2     6.0    R       1.0   1.0
3     2.0    R       1.0   1.0
4     9.0    R       1.0   1.0
..    ...  ...       ...   ...
299   7.0    R       1.0   1.0
300   7.0    R       1.0   1.0
301   4.0    R       1.0   1.0
302   7.0    R       1.0   1.0
303   7.0    R       1.0   1.0

[220 rows x 4 columns]

In [28]:
coordinate = [(0, 0) for i in range(1, 221)] # initializing coordinate values
df['Coordinates'] = coordinate
df = df.dropna()
df

     Zone Foot  OnTarget  Goal Coordinates
0     7.0    R       1.0   1.0      (0, 0)
1     9.0    R       1.0   1.0      (0, 0)
2     6.0    R       1.0   1.0      (0, 0)
3     2.0    R       1.0   1.0      (0, 0)
4     9.0    R       1.0   1.0      (0, 0)
..    ...  ...       ...   ...         ...
299   7.0    R       1.0   1.0      (0, 0)
300   7.0    R       1.0   1.0      (0, 0)
301   4.0    R       1.0   1.0      (0, 0)
302   7.0    R       1.0   1.0      (0, 0)
303   7.0    R       1.0   1.0      (0, 0)

[195 rows x 5 columns]

In [30]:
def zone_to_coord(i):
    '''Converts zone number to a coordinate'''
    if i == 1.0:
        coord = (0, 2)
    elif i == 2.0:
        coord = (1, 2)
    elif i == 3.0:
        coord = (2, 2)
    elif i == 4.0:
        coord = (0, 1)
    elif i == 5.0:
        coord = (1, 1)
    elif i == 6.0:
        coord = (2, 1)
    elif i == 7.0:
        coord = (0, 0)
    elif i == 8.0:
        coord = (1, 0)
    elif i == 9.0:
        coord = (2, 0)
    
    return coord

for index, row in df.iterrows():
    coord = (0, 0)
    coord = zone_to_coord(row['Zone'])
    df.at[index, 'Coordinates'] = coord
    
df

     Zone Foot  OnTarget  Goal Coordinates
0     7.0    R       1.0   1.0      (0, 0)
1     9.0    R       1.0   1.0      (2, 0)
2     6.0    R       1.0   1.0      (2, 1)
3     2.0    R       1.0   1.0      (1, 2)
4     9.0    R       1.0   1.0      (2, 0)
..    ...  ...       ...   ...         ...
299   7.0    R       1.0   1.0      (0, 0)
300   7.0    R       1.0   1.0      (0, 0)
301   4.0    R       1.0   1.0      (0, 1)
302   7.0    R       1.0   1.0      (0, 0)
303   7.0    R       1.0   1.0      (0, 0)

[195 rows x 5 columns]

In [36]:
x_sum = 0
y_sum = 0

for index, row in df.iterrows():
    x_sum += row['Coordinates'][0]
    y_sum += row['Coordinates'][1]

x_avg = x_sum / len(df)
y_avg = y_sum / len(df)

print((x_avg, y_avg))

(0.9230769230769231, 0.7948717948717948)